<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sorting datalist from file</title>
    <style>
    </style>
</head>
<body>
<h1>Hello</h1>
<div>Upload .txt file with numbers to sorting<br>
    Format numbers in file will be like in example:<br>
<i>Example: 1,0,5,2</i>
</div>
<br>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="document">
    <div id="choose">
        Choose the type of sorting:<br>
        <input type="radio" name="sorting" required value="buble">Buble Sort<br>
        <input type="radio" name="sorting" value="select">Selection Sort<br>
        <input type="radio" name="sorting" value="insert">Insertion Sort<br>
        <input type="radio" name="sorting" value="merge">Merge Sort<br>
        <button type="submit">Sort numbers in file</button>
    </div>
    <br>
    <div>
        {{ kindsorted }}
    </div>
    <div>
        {{ sortedlist.aftersort }}
    </div>
    <div>
        {{ exectime }}
    </div>
</form>
</body>
</html>

